In [8]:
import pandas as pd

In [9]:
data = pd.read_csv("post.csv")

In [10]:
data

,TITLE,DESCRIPTION,CONTENT,CATEGORY,TAGS
0,derby,wac vs rca,the derby beetwen; two big clubs in morocco ca...,Sports,casa;wac;rca
1,ee,ee,eeeee ee e,Business,ee
2,gdjdj,kut,:jgml,Music,;fl
3,hiba,student,azerttyy v gj ;iuro,Book,study;book
4,CASABLANCA,CASA,CASABLANCA MAROC?,Travel,MAROC
5,ZEFAE,AEFA,AEFF,Business,AFEFA

In [13]:
for i in range(len(data)):
    if data["CATEGORY"][i] == "Business":
        print(data["TITLE"][i])

ee
ZEFAE